.links-left {   
    li {
        margin-right: 8px;
        margin-right: .5rem;
        &:nth-child(2) {
            a {
                color: #fff;
                background-color: $secand-color;
            }
        }
    }
    a {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        text-align: center;
        background-color: #2d2d2d;
        color: $secand-color;
        font-size: 24px;
        font-weight: 600;
    }
}

.sidebar {
    .clearfix { margin-top: 20px; hr {background-image: linear-gradient(to left, #373d42, #646465, #32373c) } }
    h3 {
        font-weight: 700;
        font-size: 22px;
    }
    
    form {
        overflow-y: hidden;
        height: 45px;
        .input-group {
            input {
                // width: 100%;
                color: $secand-color !important;
                caret-color: $secand-color;
                height: 45px;
                font-size: 14px;
                font-weight: 600;
            }
            .input-group-append {
                display: flex; align-items: center;
                height: 45px;
                background-color: #FFF;
                margin-left: -1px;
               z-index: 5;
               i {
                   font-size: 13px;
               }
            }
        }
    }
    .a-links-1 {
        font-size: 11px;
        color: #666;
        font-weight: 600;
        &:hover {
            color: #777;
        }
        span {
            color: #555;
        }
    }
    .a-links-2 {
        font-weight: 700;
        font-size: 15px;
        &:hover {
            text-decoration: underline;
        }
    }
    .Recent {
        a {
            font-size: 12px;
            font-weight: 700;
            color: #777;
            strong {
                color: #FFF;
            }
            &:hover {
                strong {
                    color: $secand-color;
                }
            }
            span {
                font-size: 11px; font-weight: 600; color: #666;
            }
        }
    }
    .Categories {
        .fs-top {
            font-size: 13px;
            font-weight: 800;
        }

        ul {
            li {
                margin-bottom: 10px;
                a {
                    i {
                        margin-right: 2px;
                        color: #444;
                    }
                    &:hover i {
                        animation: animationHeader .3s infinite ease-in-out;
                        -webkit-animation: animationHeader .3s infinite ease-in-out;
                    }
                }
            }
        }
    }
}