    
// header
.header-about {
    overflow: hidden;
    background-image: url('/img/about-us/page-header-bg-dark.jpg');
    @media (max-width:767px) {
        height: 70vh;
    }
    .content {
        @media (max-width:767px) {
            height: 70vh;
        }
    }
    .text-light {
        &:hover {
            color: $secand-color !important;
        }
    }
    .p {
        margin-top: 5% !important;
        font-size: 13px;
    }
    .h4 {
        font-size: 3vw !important;
    }
    &::after {
        background-color: #252525;
        overflow: hidden !important;
        content: '';
        display: block;
        width: 120%;
        height: 140px !important;
        position: absolute;
        bottom: -48px;
        left: -5%;
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    @media (max-width:767px) {
        &::after {
            display: none;
        }
    }
}

.section-01 {
    padding: 0 !important;
    .custom-text {
        &-1{
            font-family: "Lora", serif;
        }
        color: #989898;
        font-size: 18px;
        font-weight: 600;
        @media (max-width: 576px) {
            font-size: 15px;
        }
    }
    .about-us-featured {
        position: relative;
        // overflow: hidden;
        &-block {
            text-align: right;
            background-color: $secand-color;
            position: absolute;
            z-index: 5;
            top: -50%;
            transform: translate(-70px, -50%);
            @media (max-width: 1200px) {
                position: relative;
                z-index: 5;
                top: 0;
                transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                -o-transform: translate(0, 0);
            }
            p {
                color: #c7c7c7;
                font-weight: 600;
                font-size: 20px;
                margin: 20px 0;
                @media (max-width: 576px) {
                    font-size: 14px;
                }
                @media (max-width: 424px) {
                    font-size: 13px;
                }
            }
            h4 {
                font-size: 3rem;
                font-weight: 800;
                @media (max-width: 576px) {
                    font-size: 1.5rem;
                }
                @media (max-width: 424px) {
                    font-size: 1.2rem;
                }
            }
        }
    }
    .custom-list li:before {
        background-color: #e41645;
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 3px;
        margin-right: 17px;
    }

}

// section-02
.section-02 {
    .info {
        padding-left: 50px;
        p {
            color: #989898;
            @media (max-width: 576px) {
                font-size: 13px;
            }
        }
        @media (max-width: 991px) {
            padding-right: 50px;
        }
    }
    .btns {
        text-transform: capitalize;
        text-decoration: underline !important;
        color: $secand-color !important;
        font-weight: 700;
        font-size: 17px;
        &:hover {
            color: rgba(0, 132, 255, 0.356) !important;
        }
        i {
            font-size: 18px;
        }
    }
    .btns-animation {
            display: inline-block;
            text-decoration: none !important;
            align-items: center;
            color: #fff !important;
            padding: 13px 11px;
            border: 3px solid #e41645;
            border-radius: 2px;
            text-align: center;
            margin: 0 auto 0 0;
            font-weight: 600;
            font-size: 1rem;
            margin-top: 15px;
            transition: .3s ease-in-out;
            -webkit-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            -ms-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            @media (max-width:576px) {
                border: 2px solid $secand-color;
                padding: 5px 10px;
            }
            
            &:hover {
                background-color: $secand-color;
                color: #FFF !important;

            }
            @media (max-width:576px) {
                padding: 10px 15px;
                font-size: .9rem;
            }
        
    }
}


