.contact-us {
    // section-01
    .section-01 {
        h2 {
            font-size: 35px;
            font-weight: 800;
            margin: 20px 0;
        }
        span {
            font-size: 16px;
        }
        span:nth-of-type(1) {
            margin-right: 20px;
        }
        i {
            margin-right: 7px;
            color: $secand-color;
        }
    }

    // section-02
    .section-02 {
        .col-where-you-are-postal {
            height: 380px;
            padding: 0 ;
            position: relative;
            // margin-bottom: 20px;
            @media (max-width: 991px) {
                height: unset;
            }
            .box {
                position:absolute;
                top:0; right: 0;
                height: 100%; 
                background-color: $secand-color;
                padding: 15px 0;
                @media (max-width: 991px) {
                    height: auto;
                    bottom: 0;
                    top: auto;
                    position: static;
                }
                h2 {
                    font-weight: 800;
                    margin:0 0 20px 0;
                }
                p {
                    line-height: 1;
                    font-weight: 600;
                    a:hover {
                        color: inherit;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    // section-03
    .section-03 {
        h2 {
            font-size: 35px;
            font-weight: 800;
            margin: 20px 0;
        }
        .input-control {
            input, textarea {
                width: 100%;
                margin: 0 0 20px 0;
                border: 0;
                outline: 0;
                box-shadow: 0;
                background-color: $premary-color;
                padding: 15px 10px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                &::placeholder {
                    font-weight: 700;
                    text-transform: capitalize;
                    font-size: 15px;
                }

            }
            input[type=submit] {
                width: auto;
                margin-top: 25px !important;
                padding: 10px 20px;
                background-color: transparent;
                border: 2px solid $secand-color;
                font-weight: 700;
                transition: .2s ease-in-out;
                -webkit-transition: .2s ease-in-out;
                -moz-transition: .2s ease-in-out;
                -ms-transition: .2s ease-in-out;
                -o-transition: .2s ease-in-out;
                &:hover {
                    background-color: $secand-color;
                }
            }
            textarea {
                height: 220px;
            }
        }
    }

    section {
        padding: 30px 0 !important;
    }
}